.appbar {
  background: #f6ae2d; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-logo {
  justify-self: start;
  margin-left: 0.5rem;
  margin-bottom: -8px;
  width: 65px;
  height: inherit;
}
.button {
  position: fixed;
  bottom: -4px;
  right: -4px;
  margin-left: 1350px;
}
.navbar-user {
  margin-right: 0.5rem;
}
