.appbar {
  background: rgb(96, 167, 177);
}
.toolbar {
  background: rgb(96, 167, 177);
}

.navbar-logo {
  justify-self: start;
  margin-left: 0.5rem;
  width: 50px;
  height: inherit;
}
.button {
  position: fixed;
  bottom: -4px;
  right: -4px;
  margin-left: 1350px;
}
.navbar-user {
  margin-right: 0.5rem;
}
